@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}

                     /* nav bar and logo */

.nav-bar{
    display:flex;
    background-color: rgb(250, 228, 199);
    justify-content: space-between;
    width: 100%;
    color: rgb(127, 175, 130);
    align-items: center;
    padding: 5px;
}
.logo{
    display: flex;
    align-items:center;
}
.logo h1{
    margin-right: 5px;
    font-size: 40px;
}
.logo:hover{
    cursor: pointer;
}

.logo h1:hover{
    transform: scale(1.2);
    cursor:context-menu;
}

.nav-bar img{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.nav-bar ul{
    list-style: none;
    font-size: 25px;
    display: flex;
}
.nav-bar ul li {
    margin: 0 10px;
}
.nav-bar ul li a{
    color:inherit;
}
.nav-bar ul li a:hover{
    color: rgb(165, 42, 42);
}

.nav-bar ul li:hover{
    transform: scale(1.2);
}

            /* banner */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 200px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.banner:hover{
    opacity: 1;
    cursor: pointer;
}

                /* content */
.container-content{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}
.container-content div{
    margin-bottom: 20px;
}

.container-content img{
    border-radius: 10px;
    width: 600px;
    height: 400px;
    display: block;
}
                    /* promos */
.promo-1{
    border-radius: 10px;
    background: black;
    color: rgb(0, 0, 0);
    position: relative;
}
.promo-1 p {
    text-align: end;
    padding: 10px;
    background: rgb(255, 230, 0);
    color: rgb(72, 148, 42);
    position: absolute;
    display: flex;
    z-index: 10;
    top: 20px;
    right: 0px;
    font-size: 20px;
    border-radius: 10px 0 0 10px;
    opacity:0.8;
}
.promo-1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.promo-1 p:hover{
    opacity:1;
    cursor: pointer;
}

                    /* promo-2 */

.promo-2{
    border-radius: 10px;
    background: black;
    color: rgb(255, 255, 255);
    position: relative;
}

.promo-2 h3{
    text-align: start;
    font-weight: bold;
    padding: 10px 7px 10px;
    color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    z-index: 10;
    top: 55px;
    left: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.promo-2 h3:hover{
    cursor: pointer;
    color: rgb(252, 74, 74);
}


.promo-2 ol{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    text-align: start;
    position: absolute;
    z-index: 10;
    top: 130px;
    left: 30px;
    color: rgb(0, 0, 0);
    border-radius: 0px 10px 10px 0px;
}

.promo-2 ol li{
    line-height: 40px;
}

.promo-2 ol li:hover{
    transform: scale(1.1);
    cursor: pointer;
    color: green;
    font-weight: bold;
}





                /* fotter  */

.nav-bar-end {
    display: flex;
    max-width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 172, 138);
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction:row-reverse;
    padding: 20px;
}

.nav-bar-end img{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

.nav-bar-end ul{
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.3em;
}
.nav-bar-end li{
    line-height: 30px;
}

.nav-bar-end li a {
    color:inherit;
}

.nav-bar-end li:hover{
    transform: scale(1.1);
}

.logo-footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.logo-footer h1{
    font-size: 40px;
    margin-right: 5px;
}

.logo-footer h1:hover{
    transform: scale(1.2);
    cursor:context-menu;
}




                                        /* paleta de cores*/

.color-1{
    color: rgb(165, 42, 42);
}

.color-2{
    color: rgb(255, 255, 255);
}

.color-3{
    color: rgb(147, 230, 115);
}